@import "tailwindcss";

/* dropdown */

.dropdown {
  width: 343px;
  height: 40px;
  font-size: 18px;
  color: #707075;
  background-color: #FFFFFF;
  border: 2px solid #E46F50;
}

.dropdown option {
  color: #000000;
  background: #FFFFFF;
}

.dropdown option:hover {
  background: #E46F50;
}

.dropdown option:checked {
  background: #E46F50;
}

/* buttons */
.btn_group > button:first-child {
  margin-right: 38px;
}
