body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 77px;
  width: auto;
  background-color: #2C6086;
}

main {
  padding: 40px 28px 80px 28px;
  text-align: center;
}

.banner {
  max-width: 1224px;
  max-height: 340px;
  margin-bottom: 40px;
}

/* question_block */

.question_block {
  margin: 0 auto;
  max-width: 1224px;
  height: auto;
  background-color:#F0F0F5;
}

.question_block__wrapper {
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.question_block__group {
  text-align: left;
  max-width: 820px;
}

.question_block__text {
  margin-bottom: 32px;
}

.question_block__description {
  font-size: 18px;
}

.question_block__text h4 {
  font-size: 20px;
}

.question_block__img {
  width: 284px;
  height: 282px;
  right: 0;
}

/* Input */

.text_input {
  width: 386px;
  height: 50px;
  border: 1px solid #000000;
  font-size: 18px;
}

.input_description {
  font-size: 13px;
}

/* dropdown */

.dropdown {
  width: 343px;
  height: 40px;
  font-size: 18px;
  color: #707075;
  background-color: #FFFFFF;
  border: 2px solid #E46F50;
}

.dropdown option {
  color: #000000;
  background: #FFFFFF;
}

.dropdown option:hover {
  background: #E46F50;
}

.dropdown option:checked {
  background: #E46F50;
}

/* footer */
footer {
  bottom: 0;
  height: 377px;
  width: 100%;
  background-color: #0D446C;
  color: #FFFFFF;
}

/* buttons */
.btn_group > button:first-child {
  margin-right: 38px;
}

.btn {
  width: 360px;
  height: 52px;
  background-color: #E46F50;
  color: #FFFFFF;
  font-size: 26px;
  border: none;
  cursor: pointer;
}
